<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Material Able bootstrap admin template by Codedthemes</title>
<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<meta name="keywords"
	content="bootstrap, bootstrap admin template, admin theme, admin dashboard, dashboard template, admin template, responsive" />
<meta name="author" content="Codedthemes" />
<!-- Favicon icon -->
<link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
<!-- Google font-->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700"
	rel="stylesheet">
<!-- waves.css -->
<link rel="stylesheet" th:href="@{/pages/waves/css/waves.min.css}"
	type="text/css" media="all">
<!-- Required Fremwork -->
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap/css/bootstrap.min.css}">
<!-- themify-icons line icon -->
<link rel="stylesheet" type="text/css"
	th:href="@{/icon/themify-icons/themify-icons.css}">
<!-- ico font -->
<link rel="stylesheet" type="text/css"
	th:href="@{/icon/icofont/css/icofont.css}">
<!-- Font Awesome -->
<link rel="stylesheet" type="text/css"
	th:href="@{/icon/font-awesome/css/font-awesome.min.css}">
<!-- Style.css -->
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/css/jquery.mCustomScrollbar.css}">
</head>

<body>
	<!-- Pre-loader start -->
	<div class="theme-loader">
		<div class="loader-track">
			<div class="preloader-wrapper">
				<div class="spinner-layer spinner-blue">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
				<div class="spinner-layer spinner-red">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>

				<div class="spinner-layer spinner-yellow">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>

				<div class="spinner-layer spinner-green">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div>
					<div class="gap-patch">
						<div class="circle"></div>
					</div>
					<div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Pre-loader end -->
	<div id="pcoded" class="pcoded">
		<div class="pcoded-overlay-box"></div>
		<div class="pcoded-container navbar-wrapper">
			<nav class="navbar header-navbar pcoded-header">
				<div class="navbar-wrapper">
					<div class="navbar-logo">
						<a class="mobile-menu waves-effect waves-light"
							id="mobile-collapse" href="#!"> <i class="ti-menu"></i>
						</a>
						<div class="mobile-search waves-effect waves-light">
							<div class="header-search">
								<div class="main-search morphsearch-search">
									<div class="input-group">
										<span class="input-group-prepend search-close"><i
											class="ti-close input-group-text"></i></span> <input type="text"
											class="form-control" placeholder="Enter Keyword"> <span
											class="input-group-append search-btn"><i
											class="ti-search input-group-text"></i></span>
									</div>
								</div>
							</div>
						</div>
						<a href="index.html"> <img class="img-fluid"
							th:src="@{/images/logo.png}" alt="Theme-Logo" />
						</a> <a class="mobile-options waves-effect waves-light"> <i
							class="ti-more"></i>
						</a>
					</div>
					<div class="navbar-container container-fluid">
						<ul class="nav-left">
							<li>
								<div class="sidebar_toggle">
									<a href="javascript:void(0)"><i class="ti-menu"></i></a>
								</div>
							</li>
							<li><a href="#!" onclick="javascript:toggleFullScreen()"
								class="waves-effect waves-light"> <i class="ti-fullscreen"></i>
							</a></li>
						</ul>
						<ul class="nav-right">
							<li class="header-notification"><a href="#!"
								class="waves-effect waves-light"> <i class="ti-bell"></i> <span
									class="badge bg-c-red"></span>
							</a>
								<ul class="show-notification">
									<li>
										<h6>Notifications</h6> <label class="label label-danger">New</label>
									</li>
									<li class="waves-effect waves-light">
										<div class="media">
											<img class="d-flex align-self-center img-radius"
												th:src="@{/images/avatar-2.jpg}"
												alt="Generic placeholder image">
											<div class="media-body">
												<h5 class="notification-user">John Doe</h5>
												<p class="notification-msg">Lorem ipsum dolor sit amet,
													consectetuer elit.</p>
												<span class="notification-time">30 minutes ago</span>
											</div>
										</div>
									</li>
									<li class="waves-effect waves-light">
										<div class="media">
											<img class="d-flex align-self-center img-radius"
												th:src="@{/images/avatar-4.jpg}"
												alt="Generic placeholder image">
											<div class="media-body">
												<h5 class="notification-user">Joseph William</h5>
												<p class="notification-msg">Lorem ipsum dolor sit amet,
													consectetuer elit.</p>
												<span class="notification-time">30 minutes ago</span>
											</div>
										</div>
									</li>
									<li class="waves-effect waves-light">
										<div class="media">
											<img class="d-flex align-self-center img-radius"
												th:src="@{/images/avatar-3.jpg}"
												alt="Generic placeholder image">
											<div class="media-body">
												<h5 class="notification-user">Sara Soudein</h5>
												<p class="notification-msg">Lorem ipsum dolor sit amet,
													consectetuer elit.</p>
												<span class="notification-time">30 minutes ago</span>
											</div>
										</div>
									</li>
								</ul></li>
							<li class="user-profile header-notification"><a href="#!"
								class="waves-effect waves-light"> <img
									th:src="@{/images/avatar-4.jpg}" class="img-radius"
									alt="User-Profile-Image"> <span>John Doe</span> <i
									class="ti-angle-down"></i>
							</a>
								<ul class="show-notification profile-notification">
									<li class="waves-effect waves-light"><a href="#!"> <i
											class="ti-settings"></i> Settings
									</a></li>
									<li class="waves-effect waves-light"><a
										href="user-profile.html"> <i class="ti-user"></i> Profile
									</a></li>
									<li class="waves-effect waves-light"><a
										href="email-inbox.html"> <i class="ti-email"></i> My
											Messages
									</a></li>
									<li class="waves-effect waves-light"><a
										href="auth-lock-screen.html"> <i class="ti-lock"></i> Lock
											Screen
									</a></li>
									<li class="waves-effect waves-light"><a
										href="auth-normal-sign-in.html"> <i
											class="ti-layout-sidebar-left"></i> Logout
									</a></li>
								</ul></li>
						</ul>
					</div>
				</div>
			</nav>

			<div class="pcoded-main-container">
				<div class="pcoded-wrapper">
					<th:block th:insert="fragments/menu.html :: menu-left"></th:block>
					<div class="pcoded-content">
						<!-- Page-header start -->
						<th:block th:insert="fragments/menu.html :: page-header"></th:block>
						<!-- Page-header end -->
						<div class="pcoded-inner-content">
							<!-- Main-body start -->
							<div class="main-body">
								<div class="page-wrapper">
									<!-- Page-body start -->
									<div class="page-body button-page">

										<div class="row h-100">
											<div class="col-sm-6">
												<div class="card">
													<div class="card-header">
														<div class="card-header-left">
															<h5>Key</h5>
														</div>
													</div>
													<div class="card-block">
														<!-- button Default -->
														<p>
															Có thể ấn phím
															<code>w↑, x↓, a←, d→, s□</code>
															để tiến, lùi, trái, phải, dừng
														</p>
														<p>
															Hoạt động không đúng khi dùng
															<code>Unikey ...</code>
														</p>
														<table>
															<tr>
																<td></td>
																<td><button data-id="4"
																		class="btn btn-primary waves-effect waves-light">
																		<i class="icofont icofont-arrow-up"></i>
																	</button></td>
																<td></td>
															</tr>
															<tr>
																<td><button data-id="1"
																		class="btn btn-primary waves-effect waves-light">
																		<i class="icofont icofont-arrow-left"></i>
																	</button></td>
																<td><button data-id="0"
																		class="btn btn-primary waves-effect waves-light">
																		<i class="icofont icofont-stop"></i>
																	</button></td>
																<td><button data-id="2"
																		class="btn btn-primary waves-effect waves-light">
																		<i class="icofont icofont-arrow-right"></i>
																	</button></td>
															</tr>
															<tr>
																<td></td>
																<td><button data-id="3"
																		class="btn btn-primary waves-effect waves-light">
																		<i class="icofont icofont-arrow-down"></i>
																	</button></td>
																<td></td>
															</tr>

														</table>
													</div>
												</div>
											</div>
											<!-- Border button -->
											<div class="col-sm-6 h-800">
												<div class="card">
													<div class="card-header">
														<h5>Camera stream</h5>
													</div>
													<div class="card-block h-600">
														<!-- button Default -->
														<img  class="rounded mx-auto d-block" id="stream" src="http://baongochome.duckdns.org:81/stream">
													</div>
												</div>
											</div>
										</div>

									</div>
									<!-- Page-body end -->
								</div>
							</div>
							<!-- Warning Section Starts -->

							<div id="styleSelector"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" name="device_id" value="1" id="device_id">
	<input type="hidden" name="token" value="11111111111111111111111111111"
		id="token">
	<!-- Required Jquery -->
	<script type="text/javascript" th:src="@{/js/jquery/jquery.min.js} "></script>
	<script type="text/javascript"
		th:src="@{/js/jquery-ui/jquery-ui.min.js} "></script>
	<script type="text/javascript" th:src="@{/js/popper.js/popper.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/js/bootstrap/js/bootstrap.min.js} "></script>
	<!-- waves js -->
	<script th:src="@{/pages/waves/js/waves.min.js}"></script>
	<!-- jquery slimscroll js -->
	<script type="text/javascript"
		th:src="@{/js/jquery-slimscroll/jquery.slimscroll.js}"></script>
	<!-- Custom js -->
	<script th:src="@{/js/pcoded.min.js}"></script>
	<script th:src="@{/js/vertical/vertical-layout.min.js}"></script>
	<script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>

	<!-- Custom js -->
	<script>
		$(document).keypress(function(event) {

			var keycode = (event.keyCode ? event.keyCode : event.which);
			if (keycode == '119') {
				let formData = {
					deviceId : '4',
					status : $(this).data('id'),
					token : $("#token").val()
				}
				$.ajax({
					url : "/robot/setNavigate",
					type : 'POST',
					contentType : "application/json",
					data : JSON.stringify(formData),
					dataType : 'json',
					success : function(result) {
					}
				});
			}
			if (keycode == '97') {
				let formData = {
					deviceId : '1',
					status : $(this).data('id'),
					token : $("#token").val()
				}
				$.ajax({
					url : "/robot/setNavigate",
					type : 'POST',
					contentType : "application/json",
					data : JSON.stringify(formData),
					dataType : 'json',
					success : function(result) {
					}
				});
			}
			if (keycode == '100') {
				let formData = {
					deviceId : '2',
					status : $(this).data('id'),
					token : $("#token").val()
				}
				$.ajax({
					url : "/robot/setNavigate",
					type : 'POST',
					contentType : "application/json",
					data : JSON.stringify(formData),
					dataType : 'json',
					success : function(result) {
					}
				});
			}
			if (keycode == '120') {
				let formData = {
					deviceId : '3',
					status : $(this).data('id'),
					token : $("#token").val()
				}
				$.ajax({
					url : "/robot/setNavigate",
					type : 'POST',
					contentType : "application/json",
					data : JSON.stringify(formData),
					dataType : 'json',
					success : function(result) {
					}
				});
			}
			if (keycode == '115') {
				let formData = {
					deviceId : '0',
					status : $(this).data('id'),
					token : $("#token").val()
				}
				$.ajax({
					url : "/robot/setNavigate",
					type : 'POST',
					contentType : "application/json",
					data : JSON.stringify(formData),
					dataType : 'json',
					success : function(result) {
					}
				});
			}
		});
		$(document).ready(function() {
			$('[data-toggle="popover"]').popover({
				html : true,
				content : function() {
					return $('#primary-popover-content').html();
				}
			});

			// CONTROL BUTTON
			$("button").click(function() {
				let formData = {
					deviceId : $("#device_id").val(),
					status : $(this).data('id'),
					token : $("#token").val()
				}
				$.ajax({
					url : "/robot/setNavigate",
					type : 'POST',
					contentType : "application/json",
					data : JSON.stringify(formData),
					dataType : 'json',
					success : function(result) {
					}
				});
			});
		});
	</script>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>

</html>
