<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="keywords" content="bootstrap, bootstrap admin template, admin theme, admin dashboard, dashboard template, admin template, responsive" />
    <meta name="author" content="Codedthemes" />
    
    <meta th:name="_csrf" th:content="${_csrf.token}" />
	<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
    <!-- Favicon icon -->
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/css/bootstrap.min.css}">
    <!-- waves.css -->
    <link rel="stylesheet" th:href="@{/pages/waves/css/waves.min.css}" type="text/css" media="all">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" th:href="@{/icon/themify-icons/themify-icons.css}">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" th:href="@{/icon/icofont/css/icofont.css}">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" th:href="@{/icon/font-awesome/css/font-awesome.min.css}">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.mCustomScrollbar.css}">
</head>

<!--<body class="fix-menu dark-layout">-->

<body>
    <!-- Pre-loader start -->
    <th:block th:insert="fragments/menu.html :: pre-loader"></th:block>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <th:block th:insert="fragments/menu.html :: menu"></th:block>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <th:block th:insert="fragments/menu.html :: menu-left"></th:block>
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page body start -->
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- Bootstrap tab card start -->
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Room</h5>
														<select th:field="${roomInfo.id}" id="selectRoom">
												            <option th:each="r : ${listRoomInfo}" th:value="*{r.id}" th:text="*{r.roomName}" />
												        </select>
                                                    </div>
                                                    <div class="card-block" id="adminMonitor">
                                                    <div th:fragment="monitor">
                                                        <!-- Row start -->
                                                        <div class="row">
                                                            <div class="col-lg-12 col-xl-12">
                                                                <!-- Nav tabs -->
                                                                <ul class="nav nav-tabs  tabs" role="tablist">
                                                                    <li class="nav-item">
                                                                        <a class="nav-link active" data-toggle="tab" href="#home1" role="tab">Waiting Room</a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" data-toggle="tab" href="#profile1" role="tab">Control Room</a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" data-toggle="tab" href="#messages1" role="tab">Thống kê</a>
                                                                    </li>
                                                                    <li class="nav-item">
                                                                        <a class="nav-link" data-toggle="tab" href="#settings1" role="tab">Settings</a>
                                                                    </li>
                                                                </ul>
                                                                <!-- Tab panes -->
                                                                <div class="tab-content tabs card-block">
                                                                    <div class="tab-pane active" id="home1" role="tabpanel">
                                                                        <p class="m-0">1. This is Photoshop's version of Lorem IpThis is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
                                                                            bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                                                                            mas Cum sociis natoque penatibus et magnis dis.....</p>
                                                                    </div>
                                                                    <div class="tab-pane" id="profile1" role="tabpanel">
                                                                        <div class="row h-100">
																			<div class="col-sm-6">
																				<div class="card">
																					<div class="card-block">
																						<div class="row">
																							<div class="col-sm-6">
																								<span class="font-weight-bold">User1 : </span> <span
																									th:text="${roomInfo.update_by_user}"></span>
																							</div>
																							<div class="col-sm-6">
																								<span class="font-weight-bold">Room : </span> <span
																									th:text="${roomInfo.roomName}"></span>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="col-sm-6" id="content">
																				<div th:fragment="content2">
																					<div class="card">
																						<div class="card-block" th:classappend ="${typePower} == 1 ? bg-success : (${typePower} == 2 ? bg-info : (${typePower} == 3 ? btn-warning : bg-danger))">
																							<div class="row">
																								<div class="col-sm-6">
																									<span class="font-weight-bold">Wifi : </span> <span
																										th:text="${robotInfo.WifiSignal}"></span>
																								</div>
																								<div class="col-sm-6">
																									<span class="font-weight-bold">Battery : </span> <span
																										th:text="${robotInfo.batteryPercentage}"></span><span>%</span>
																								</div>
																								<!-- <div class="col-sm-4" th:if="${robotInfo.batteryPercentage < 50}">
																									<div class="alert alert-warning" role="alert">
																									  This is a warning alert—check it out!
																									</div>
																								</div> -->
																								<input type="hidden" th:value="${isStopMode}"
																									id="stopMode" name="stopMode"> <input
																									type="hidden" th:value="${isOverTime}" id="expireTime"
																									name="expireTime">
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="row h-100">
																			<div class="col-sm-6" >
																				<div class="card">
																					<div class="card-header">
																						<div class="card-header-left">
																							<h5>Key</h5>
																						</div>
																					</div>
																					<div class="card-block">
																						<!-- button Default -->
																						<p>
																							Có thể ấn phím
																							<code>w↑, x↓, a←, d→, s□</code>
																							để tiến, lùi, trái, phải, dừng
																						</p>
																						<p>
																							Có thể ấn phím
																							<code>p↑, l↓</code>
																							để nâng cánh tay lên, xuống
																						</p>
																						<p>
																							Hoạt động không đúng khi dùng
																							<code>Unikey ...</code>
																						</p>
																						<table>
																							<tr>
																								<th colspan="3">hướng di chuyển</th>
																	
																								<th colspan="2">cánh tay</th>
																							</tr>
																							<tr>
																								<td></td>
																								<td><button data-navigate="4"
																										class="btn btn-primary waves-effect waves-light">
																										<i class="icofont icofont-arrow-up"></i>
																									</button></td>
																								<td></td>
																								<td></td>
																								<td><button data-arm="2"
																										class="btn btn-primary waves-effect waves-light">
																										<i class="icofont icofont-arrow-up"></i>
																									</button></td>
																							</tr>
																							<tr>
																								<td><button data-navigate="1"
																										class="btn btn-primary waves-effect waves-light">
																										<i class="icofont icofont-arrow-left"></i>
																									</button></td>
																								<td><button data-navigate="0"
																										class="btn btn-primary waves-effect waves-light">
																										<i class="icofont icofont-stop"></i>
																									</button></td>
																								<td><button data-navigate="2"
																										class="btn btn-primary waves-effect waves-light">
																										<i class="icofont icofont-arrow-right"></i>
																									</button></td>
																								<td></td>
																								<td></td>
																							</tr>
																							<tr>
																								<td></td>
																								<td><button data-navigate="3"
																										class="btn btn-primary waves-effect waves-light">
																										<i class="icofont icofont-arrow-down"></i>
																									</button></td>
																								<td></td>
																								<td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
																								<td><button data-arm="2"
																										class="btn btn-primary waves-effect waves-light">
																										<i class="icofont icofont-arrow-down"></i>
																									</button></td>
																							</tr>
																						</table>
																					</div>
																				</div>
																			</div>
																			<!-- Border button -->
																			<div class="col-sm-6 h-800">
																				<div class="card">
																					<div class="card-header">
																						<h5>Camera stream</h5>
																					</div>
																					<div class="card-block h-600">
																						<!-- button Default -->
																						<img class="rounded mx-auto d-block" id="stream"
																							th:src="${roomInfo.linkCamera}">
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
                                                                    <div class="tab-pane" id="messages1" role="tabpanel">
                                                                        <p class="m-0">3. This is Photoshop's version of Lorem IpThis is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
                                                                            bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                                                                            mas Cum sociis natoque penatibus et magnis dis.....</p>
                                                                    </div>
                                                                    <div class="tab-pane" id="settings1" role="tabpanel">
                                                                    	<div class="row h-100">
																			<div class="col-sm-6" >
																				<div class="btn btn-success" id="turnOffMode">Turn off</div>
																				<div class="btn btn-success d-none" id="turnOnMode">Turn on</div>
																			</div>
																			<div class="col-sm-6" >
																				<div class="alert alert-success alert-dismissible d-none" id="notify-stop"role="alert">
																					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
																				  	<strong class="font-weight-bold">Success!</strong> Stop successfully!
																				</div>
																				<div class="alert alert-success alert-dismissible d-none" id="notify-turnon"role="alert">
																				  	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
																				  	<strong class="font-weight-bold">Success!</strong> Turn on successfully!
																				</div>
																			</div>
                                                                    	</div>
                                                                        
                                                                        
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                                <input type="hidden" name="device_id" th:value="${robotInfo.deviceId}" id="device_id">
																<input type="hidden" name="token" th:value="${roomInfo.token}" id="token">
                                                            </div>
                                                        </div>
                                                        <!-- Row end -->
                                                    </div>
                                                </div>
                                                <!-- Bootstrap tab card end -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page body end -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Main-body end -->

                    <div id="styleSelector">

                    </div>
                </div>
            </div>
        </div>

    <!-- Warning Section Ends -->
    <!-- Js Control -->
    <script type="text/javascript" th:src="@{/js/jquery/jquery.min.js} "></script>
	<script type="text/javascript" th:src="@{/js/jquery-ui/jquery-ui.min.js} "></script>
	<script type="text/javascript" th:src="@{/js/popper.js/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap/js/bootstrap.min.js} "></script>
	<script th:src="@{/pages/waves/js/waves.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery-slimscroll/jquery.slimscroll.js}"></script>
	<script th:src="@{/js/pcoded.min.js}"></script>
	<script th:src="@{/js/vertical/vertical-layout.min.js}"></script>
	<script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>
<!-- Custom js -->
	<script>
		var csrfHeader = $("meta[name='_csrf_header']").attr("content");
		var csrfToken = $("meta[name='_csrf']").attr("content");
		var headers = {};
		headers[csrfHeader] = csrfToken;

		$(document).keypress(function(event) {

			var keycode = (event.keyCode ? event.keyCode : event.which);
			if (keycode == '119') {
				let formData = {
					deviceId : $("#device_id").val(),
					navigateControl : '4',
					armControl : '0',
					token : $("#token").val()
				}
				$.ajax({
					url : "[[@{/robot/setNavigate}]]",
					type : 'POST',
					headers : headers,
					contentType : "application/json",
					data : JSON.stringify(formData),
					dataType : 'json',
					success : function(result) {
					}
				});
			}
			if (keycode == '97') {
				let formData = {
					deviceId : $("#device_id").val(),
					navigateControl : '1',
					armControl : '0',
					token : $("#token").val()
				}
				$.ajax({
					url : "[[@{/robot/setNavigate}]]",
					type : 'POST',
					headers : headers,
					contentType : "application/json",
					data : JSON.stringify(formData),
					dataType : 'json',
					success : function(result) {
					}
				});
			}
			if (keycode == '100') {
				let formData = {
					deviceId : $("#device_id").val(),
					navigateControl : '2',
					armControl : '0',
					token : $("#token").val()
				}
				$.ajax({
					url : "[[@{/robot/setNavigate}]]",
					type : 'POST',
					headers : headers,
					contentType : "application/json",
					data : JSON.stringify(formData),
					dataType : 'json',
					success : function(result) {
					}
				});
			}
			if (keycode == '120') {
				let formData = {
					deviceId : $("#device_id").val(),
					navigateControl : '3',
					armControl : '0',
					token : $("#token").val()
				}
				$.ajax({
					url : "[[@{/robot/setNavigate}]]",
					type : 'POST',
					headers : headers,
					contentType : "application/json",
					data : JSON.stringify(formData),
					dataType : 'json',
					success : function(result) {
					}
				});
			}
			if (keycode == '115') {
				let formData = {
					deviceId : $("#device_id").val(),
					navigateControl : '0',
					armControl : '0',
					token : $("#token").val()
				}
				$.ajax({
					url : "[[@{/robot/setNavigate}]]",
					type : 'POST',
					headers : headers,
					contentType : "application/json",
					data : JSON.stringify(formData),
					dataType : 'json',
					success : function(result) {
					}
				});
			}
		});
		$(document).ready(function() {

			$('[data-toggle="popover"]').popover({
				html : true,
				content : function() {
					return $('#primary-popover-content').html();
				}
			});

			// CONTROL BUTTON
			$("button").click(function() {
				let formData = {
					deviceId : $("#device_id").val(),
					navigateControl : $(this).data('navigate'),
					armControl : $(this).data('arm'),
					token : $("#token").val()
				}
				$.ajax({
					url : "[[@{/robot/setNavigate}]]",
					type : 'POST',
					headers : headers,
					contentType : "application/json",
					data : JSON.stringify(formData),
					dataType : 'json',
					success : function(result) {
					}
				});
			});

			
			 $('#turnOffMode').click(function() {
				$.ajax({
					url : "[[@{/admin/control/stopMode}]]",
					type : 'POST',
					headers : headers,
					contentType : "application/x-www-form-urlencoded; charset=UTF-8",
					data : {
						deviceId : $("#device_id").val(),
					},
					dataType : 'json',
					success : function(result) {
					}
				});
				$('#turnOffMode').addClass("d-none");
				$('#turnOnMode').removeClass("d-none");
				$('#notify-stop').removeClass("d-none");
				$('#notify-turnon').addClass("d-none");
			}); 
			 
			 $('#turnOnMode').click(function() {
					$.ajax({
						url : "[[@{/admin/control/turnOnMode}]]",
						type : 'POST',
						headers : headers,
						contentType : "application/x-www-form-urlencoded; charset=UTF-8",
						data : {
							deviceId : $("#device_id").val(),
						},
						dataType : 'json',
						success : function(result) {
						}
					});
					$('#turnOffMode').removeClass("d-none");
					$('#turnOnMode').addClass("d-none");
					$('#notify-stop').addClass("d-none");
					$('#notify-turnon').removeClass("d-none");
				}); 
			 
			 $('#selectRoom').change(function() {
				 $.ajax({
						url : "[[@{/admin/control/selectRoom}]]",
						type : 'POST',
						headers : headers,
						contentType : "application/x-www-form-urlencoded; charset=UTF-8",
						data : {
							roomId : $(this).val()
						},
						dataType : 'html',
						success : function(result) {
							$("#adminMonitor").html(result);
						}
					});
			 }); 
			setInterval(
					function() {
						$.ajax({
							url : "[[@{/admin/control/updateWfAndBp}]]",
							type : 'POST',
							headers : headers,
							contentType : "application/x-www-form-urlencoded; charset=UTF-8",
							data : {
								deviceId : $("#device_id").val(),
								token : $("#token").val()
							},
							dataType : 'html',
							success : function(result) {
								$("#content").html(result);
							}
						});
					}, 3000);
		});
	</script>
	<!-- Custom js -->
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>

</html>
